{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Lovenest{% endblock %}

{% block body %}
    <div class="container-fluid parallax-window" data-parallax="scroll" data-image-src="{{ asset('img/hero.jpg') }}" data-bleed="1000">
            <div class="container d-flex justify-content-center bg-transparent">
                    <div class="p-4 text-center" style="min-height: 600px">
                        <h1 class="hero-title">
                            <i class="fas fa-heart"></i> TROUVEZ VOTRE NID D'AMOUR <i class="fas fa-heart"></i>
                        </h1>
                </div>
            </div>
    </div>
    <div class="container-fluid bg-dark-pink text-center p-4">
        <h1>LOVENEST <i class="fas fa-heart"></i></h1>
    </div>
    <div class="container-fluid rounded parallax-container">
        <div class="container overlay-dark rounded my-2 p-4">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum risus arcu, a cursus purus vulputate
                id. Praesent vestibulum augue facilisis ante tincidunt vulputate. Proin cursus felis et massa sagittis, vel
                congue leo gravida. In pretium luctus nunc, vel consequat sapien semper nec. Mauris pretium fringilla laoreet.
                Phasellus tincidunt condimentum tincidunt. Vestibulum quis ligula vitae tortor viverra consequat ut vehicula
                nisi.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum risus arcu, a cursus purus vulputate
                id. Praesent vestibulum augue facilisis ante tincidunt vulputate. Proin cursus felis et massa sagittis, vel
                congue leo gravida. In pretium luctus nunc, vel consequat sapien semper nec. Mauris pretium fringilla laoreet.
                Phasellus tincidunt condimentum tincidunt. Vestibulum quis ligula vitae tortor viverra consequat ut vehicula
                nisi.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer bibendum risus arcu, a cursus purus vulputate
                id. Praesent vestibulum augue facilisis ante tincidunt vulputate. Proin cursus felis et massa sagittis, vel
                congue leo gravida. In pretium luctus nunc, vel consequat sapien semper nec. Mauris pretium fringilla laoreet.
                Phasellus tincidunt condimentum tincidunt. Vestibulum quis ligula vitae tortor viverra consequat ut vehicula
                nisi.
            </p>
        </div>
    </div>
{% endblock %}
