body{
    font-family: 'Ubuntu', sans-serif;
}

/* Logo */
.logo{
    width: 200px;
    height: 40px;
}

/* Hero */

.hero{
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vh auto;
}

.hero-title{
    font-size: xxx-large;
}

/* Background */
.parallax{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.overlay-dark{
    background-color: rgba(0, 0, 0, 0.20);
}

.bg-purple{
    background-color: #1f125e;
    color: #f969b9;
}

.bg-transparent{
    background-color: transparent;
    color: white;
}

/* Text */
.text-black{
    color: black;
}

/* Link */
.link-pink-light{
    color: white;
}
.link-pink-light:hover{
    color: #f969b9;
}

/* Button */
.btn-pink{
    background-color: #f969b9;
    color: #1f125e;
}
.btn-pink:hover{
    background-color: #f969b9;
}

.btn-outline-white{
    background: transparent;
    color: white;
    border-color: white;
}
.btn-outline-white:hover{
    background: white;
    color: #8c50ff;
}