body{
    font-family: 'Ubuntu', sans-serif;
}

/* Logo */
.logo{
    width: 200px;
    height: 40px;
}

/* Hero */
.hero-title{
    font-size: xxx-large;
}

/* Height */
.min-height-800{
    min-height: 800px;
}

/* Background */
.overlay-dark{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

.bg-dark-white{
    background-color: #212529;
    color: white;
}

.bg-dark-pink{
    background-color: #212529;
    color: #f969b9;
}

.bg-transparent{
    background-color: transparent;
    color: white;
}

/* Text */
.text-black{
    color: black;
}

/* Link */
.link-pink-light{
    color: white;
}
.link-pink-light:hover{
    color: #f969b9;
}

/* Button */
.btn-pink{
    background-color: #f969b9;
    color: #212529;
}
.btn-pink:hover{
    background-color: #f969b9;
}

.btn-black{
    background-color: #212529;
    color: #FFFFFF;
}

.btn-black:hover{
    background-color: #212529;
    color: #f969b9;
}

.btn-outline-white{
    background: transparent;
    color: white;
    border-color: white;
}
.btn-outline-white:hover{
    background: white;
    color: #8c50ff;
}

/* Form */
form label{
    margin: 0.5em auto auto;
}

form .form-error-icon{
    display: none;
}

form .form-check-input {
    margin: 0.75em auto auto;
}

form btn{
    margin: 0.5em auto auto;
}
